@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-lofi-bg text-lofi-text font-sans antialiased overflow-hidden select-none;
  }
}

/* Custom Cozy Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333852;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #414868;
}
